body {
  margin: 20px;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

main > .link {
  margin: 0 0 20px;
}

article {
  clear: both;

  padding: 10px;

  border-radius: 3px;
  box-shadow: 1px 1px 1px #666;
  border: 1px solid #ddd;
}

/* clearfix */
article:after {
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;  
}

article + article {
  margin-top: 20px;
}

article h1 {
  margin: 0 0 10px;
  padding: 0;
}

article .image{
  float: left;
  margin-right: 20px;

  font-size: 0;
}

article .image img {
  width: 200px;
  height: auto;
}

article .date-launch:before {
  content: "ローンチ日: ";
}

article .role:before {
  content: "担当領域: ";
}
