@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 20px;
  padding: 0;
  font-family: "ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
  line-height: 1.6; }

main {
  display: block; }

p {
  margin: 0;
  padding: 0; }

main > .link {
  margin: 0 0 20px; }

.box {
  clear: both;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #666;
  border: 1px solid #ddd;
  background-color: white;
  /* clearfix */ }
  .box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .box + .box {
    margin-top: 14px; }
  .box p + p {
    margin-top: 8px; }
  .box h1 {
    margin: 0 0 10px;
    padding: 0; }
  .box ul {
    padding: 0; }
    .box ul li {
      list-style-position: inside; }
  .box .image {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 0; }
  .box .image img {
    width: 200px;
    height: auto; }
  .box .date-launch:before {
    content: "ローンチ日: ";
    font-weight: bold; }
  .box .prize:before {
    content: "受賞: ";
    font-weight: bold; }
  .box .role:before {
    content: "担当領域: ";
    font-weight: bold; }
  .box .description:before {
    content: "概要: ";
    font-weight: bold; }
  .box .comment:before {
    content: "コメント: ";
    font-weight: bold; }
  .box .related:before {
    content: "関連記事: ";
    font-weight: bold; }
  .box .description {
    clear: both; }
  .box .comment {
    clear: both; }

.box.service-1147 figure {
  margin-left: 0; }

.box.service-1147 figure img {
  width: 400px; }

.profile {
  background-color: #f3f0ff; }
  .profile .image img {
    width: 160px; }
